// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Overlay (ffab)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin ffab-overlay(
  $border-width: $ffab-border-width,
  $background: $ffab-overlay-background-color
  ) {
  &::after {
    background-color: $background;
    border: $border-width solid currentColor;
    content: '';
    height: 110%;
    position: absolute;
    top: -5%;
    transition: all $ffab-transition-speed;
    width: ffab-width(default);
    z-index: 1;
  }
}

@mixin ffab-overlay-default {
  .#{$ffab-css-prefix} {
    @include ffab-overlay;
  }
}
