// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Transitions (ffab)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin ffab-transition($behavior) {
  @if $behavior == 'cover' {
    transform: skewX(0deg) !important;
    width: 114% !important;
  } @else if $behavior == 'remove' {
    transform: skewX(0deg) !important;
    width: 0% !important;
  } @else if $behavior == 'static' {
    // Don't animate
  } @else {
    @warn "An valid transition behavior is required (cover or remove)";
  }
}

@mixin ffab-transitions {
  .#{$ffab-css-prefix}:hover:not(.disabled) {
    &:not(.static)::after {
      @include ffab-transition($ffab-transition-behavior);
    }
  }

  .#{$ffab-css-prefix}.remove:hover:not(.disabled) {
    &::after {
      @include ffab-transition('remove');
    }
  }

  .#{$ffab-css-prefix}.cover:hover:not(.disabled) {
    &::after {
      @include ffab-transition('cover');
    }
  }
}
